/*THIS IS THE STYLE SHEET FOR THE INDEX PAGES*/
/*GLOBAL DECLARATIONS*/
:root {
    --headerbg: rgb(49, 58, 50);
    --sectionbg: rgb(49, 58, 50);
    --wrapback: rgb(49, 58, 50);
    --navbg: black;
    --headertext: honeydew;
    --whitesmoke: rgba(255, 255, 255, 0.74);
    --bodybg: rgb(167, 204, 172);
    --highlight: rgb(255, 255, 255);
    --maincolor: black;

    --breakpoint1: 768px;
    --breakpoint2: 468px;
    --globalmar: .5em;
    --globalpad: .5em;
    --roundedge: 10px;
    --rounderedge: 25px;
}